/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  background: white;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.balance {
  text-align: center;
  margin: 20px 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.money {
  font-size: 20px;
}

.plus {
  color: green;
}

.minus {
  color: red;
}

.list {
  list-style: none;
  margin-bottom: 20px;
}

.list li {
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  border-right: 5px solid;
}

.list li.plus {
  border-color: green;
}

.list li.minus {
  border-color: red;
}

.list button {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

form button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
} */
